<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tirocinio/crowdsensing-web-app/bylights/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /tirocinio/crowdsensing-web-app/bylights/index.html [L]
</IfModule>